@import '../abstract/variaveis';

.banner {
    background: url(../../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

    .inner-banner {
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: 0.8;
        border-radius: 45px;
        text-align: center;

        h1 {
            background: url(../../imagens/banner.jpeg) center center;
            font-size: 3rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;

        }

        h2 {
            background: url(../../imagens/banner.jpeg) center center;
            font-size: 1.5rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
}