@import '../abstract/variaveis';
nav {
    text-align: center;
    background-color: $cor-quaternaria;
   ul{
        li{
            display: inline-block;
            padding: 1rem;
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-terciaria;
                &:hover{
                    border: 1px solid $cor-secundaria;
                    padding: 5px;
                    background-color: $cor-secundaria;
                    border-radius: 25%;
                    color: &cor-terciaria;
                }
            }
        }
   }
}